@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $id: '', $no-woff2: false) {
  $add-id: '?#{$id}';

  @if $id == '' {
    $add-id: '';
  }

  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;

    @if $no-woff2 == false {
      src: url('#{$file-path}.eot#{$id}'); /* IE9 Compat Modes */
      src: url('#{$file-path}.eot#{$add-id}#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('#{$file-path}.woff2#{$add-id}') format('woff2'), /* Super Modern Browsers */
      url('#{$file-path}.woff#{$add-id}') format('woff'), /* Pretty Modern Browsers */
      url('#{$file-path}.ttf#{$add-id}')  format('truetype'), /* Safari, Android, iOS */
      url('#{$file-path}.svg#{$add-id}##{$font-family}') format('svg'); /* Legacy iOS */
    } @else {
      src: url('#{$file-path}.eot#{$id}'); /* IE9 Compat Modes */
      src: url('#{$file-path}.eot#{$add-id}#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('#{$file-path}.woff#{$add-id}') format('woff'), /* Pretty Modern Browsers */
      url('#{$file-path}.ttf#{$add-id}')  format('truetype'), /* Safari, Android, iOS */
      url('#{$file-path}.svg#{$add-id}##{$font-family}') format('svg'); /* Legacy iOS */
    }
  }
}
