{% extends 'layout.html' %}

{% block head %}
	{% parent %}
	{# Custom html #}
{% endblock %}

{% block content %}
	<h1>
		Frontpage
	</h1>

	<div class="features">
		<div class="features__item">idaishdopas8udioasud</div>
		<div class="features__item">idaishdopas8udioasud</div>
		<div class="features__item">idaishdopas8udioasud</div>
		<div class="features__item">idaishdopas8udioasud</div>
		<div class="features__item">idaishdopas8udioasud</div>
		<div class="features__item">idaishdopas8udioasud</div>
		<div class="features__item">idaishdopas8udioasud</div>
		<div class="features__item">idaishdopas8udioasud</div>
		<div class="features__item">idaishdopas8udioasud</div>
		<div class="features__item">idaishdopas8udioasud</div>
		<div class="features__item">idaishdopas8udioasud</div>
		<div class="features__item">idaishdopas8udioasud</div>
	</div>
{% endblock %}
