// Frontpage
.features {
  @include flex-grid;

  @include breakpoint(-nano) {
    margin-left: 0;
  }
}

.features__item {
  @include ellipsis;

  width: col(5);
  background: $g25;
  padding: $gutter;
  color: #fff;
  margin-left: $gutter;
  margin-bottom: $gutter;

  @include breakpoint(-milli) {
    width: col(3);
  }

  @include breakpoint(-nano) {
    width: 100%;
    margin-left: 0;
  }
}
